<h1>{{title}}</h1>
<hr>
<p><strong>Descripción</strong>: {{description}}</p>
<p><strong>Puntuación</strong>: {{rating}}</p>
<p><strong>Autor/a</strong>: {{author}}</p>

<a href="/libros/listado">Volver al listado</a>